<div class="contenedor">
  

<section class="sombra">
    <h1 class="peso">Tienes <span class="p4"> Obesidad Tipo 1 </span></h1>
    <div class="peso__info">
        <div>
            <h3 class="info">Causas de <span class="p4"> Obesidad Tipo 1 </span></h3>
            <p>
                Las causas de la Obesidad son múltiples y complejas. En general, se acepta que la causa de la obesidad es un desequilibrio energético entre las calorías que se consumen y las calorías que se gastan a través del ejercicio y de las actividades de la vida cotidiana, por lo que el cuerpo almacena el exceso de calorías en forma de grasa
                
            </p>
            <p>
                La obesidad no es simplemente el resultado de comer en exceso. Los estudios epidemiológicos han detectado en la población una serie de factores asociados con la obesidad.
            </p>
        </div>
        <div>
            <img src="../../../../assets/images/obesidad1.jpg" alt="imagen de obesidad 1">
        </div>
    </div>

    <div>
        <h1 class="text__diet">Te damos una dieta personalizada</h1>
        
    </div>
</section>



</div>

  