<div class="contenedor">
  

  <section class="sombra">
      <h1 class="peso">Tienes <span class="p5"> Obesidad Tipo 2 </span></h1>
      <div class="peso__info">
          <div>
              <h3 class="info">Causas de <span class="p4"> Obesidad Tipo 1 </span></h3>
              <p>
                Tanto la obesidad como el sobrepeso están definidos como un exceso de acumulación de grasa en el cuerpo. En este caso, cabe destacar que esta acumulación de grasa corporal no representa únicamente un problema de tipo estético, sino que se trata de un problema que tiene influencia directa con otras patologías, aumentando el riesgo de padecer distintas enfermedades y problemas de salud, como podrían ser las enfermedades arteriales y cardiacas, así como la diabetes.
            </p>
            <p>
                Una persona saludable es capaz de rendir al máximo de su capacidad en todos los ámbitos de su vida y con ello se convertirá en una persona valiosa para la sociedad, porque su organismo funciona de manera correcta y puede realizar sus actividades diarias sin ningún problema.
            </p>
          </div>
          <div>
              <img src="../../../../assets/images/obesidad2.jpg" alt="imagen de obesidad 1">
          </div>
      </div>
  
      <div>
          <h1 class="text__diet">Te damos una dieta personalizada</h1>
          <p>
              aquí va lo de la dietaaaaaaaaaaaaaaaaaaaaa..........
          </p>
      </div>
  </section>
  
  
  
  </div>