<div class="contenedor">
  
  <section class="sombra">
      <h1 class="peso">Tienes <span class="p2"> Peso Normal </span></h1>
      <div class="peso__info">
          <div>
              <h3 class="info">Que hacer con un <span class="p2"> Peso Normal </span></h3>
              <p class="list">
                  Te dejamos unos consejos para mantenerte saludable:
                  </p>
                  <ul >
                      <li>Siga una dieta sana y equilibrada.</li>
                      <li>Beba con sensatez.</li>
                      <li>Manténgase activo.</li>
                      <li>Descanse.</li>
                      <li>Duerma bien.</li>
                      <li>Exteriorice sus sentimientos.</li>
                      <li>Pida ayuda cuando lo necesite.</li>
                      <li>Acéptese tal y como es.</li>
                      <li>Esté en contacto con sus amigos y seres queridos.</li>
                      <li>Sonría y ría.</li>
                  </ul>
              
          </div>
          <div>
              <img src="../../../../assets/images/peso_normal_mujer.jpg" alt="imagen de peso normal">
          </div>
      </div>
  
      <div>
          <h1 class="text__diet">Te damos una dieta personalizada</h1>
          <p>
              aquí va lo de la dietaaaaaaaaaaaaaaaaaaaaa..........
          </p>
      </div>
  </section>
    
    </div>