<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Grupo de Alimentos">
    <th mat-header-cell *matHeaderCellDef> Grupo de alimentos </th>
    <td mat-cell *matCellDef="let data"> {{data.grupodeAlimentos}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="recomendado">
    <th mat-header-cell *matHeaderCellDef> Recomendado </th>
    <td mat-cell *matCellDef="let data"> {{data.recomendado}} </td>
  </ng-container>

  <ng-container matColumnDef="Limitar">
    <th mat-header-cell *matHeaderCellDef> Limitar </th>
    <td mat-cell *matCellDef="let data"> {{data.limitar}} </td>
  </ng-container>

  <ng-container matColumnDef="Evitar">
    <th mat-header-cell *matHeaderCellDef> Evitar </th>
    <td mat-cell *matCellDef="let data"> {{data.evitar}} </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>