<div class="contenedor">
    <section class="first__section">
        <h1 class="main__title" >Cuidar tu salud es importante</h1>
        <div class="central__txt">
            <div>
                <h3 class="info">¿Por qué es <span class="important__txt"> importante </span> la salud?</h3>
                <p>
                    Existen varios beneficios de tener una vida saludable, pero el principal de ellos que podríamos nombrar es que nuestro cuerpo se libera de las diversas formas de trastornos y complicaciones y, por tanto, se obtiene una vida más larga, sin sufrir ningún tipo de dolores o malestares.
                </p>
                <p>
                    Una persona saludable es capaz de rendir al máximo de su capacidad en todos los ámbitos de su vida y con ello se convertirá en una persona valiosa para la sociedad, porque su organismo funciona de manera correcta y puede realizar sus actividades diarias sin ningún problema.
                </p>
            </div>
            <div >
                <img class="main__img" src="../../../../assets/images/principal.jpg" alt="imagen principal">
            </div>
        </div>
        <div class="tipo">
            <picture>
                <img src="./../../../../assets/images/tipos_peso.png" alt="imagen tipos de cuerpo">  
            </picture>
        </div>
      </section>
</div>
