<div class="contenedor">
  

  <section class="sombra">
      <h1 class="peso">Tienes <span class="p1"> Peso Bajo </span></h1>
      <div class="peso__info">
          <div>
              <h3 class="info">Causas de <span class="p1"> Peso Bajo </span></h3>
              <p>
                La causa más común de que una persona tenga un peso bajo es básicamente la desnutrición causada por la ausencia de alimentos adecuados, que puede llegar a alcanzar el 50% en algunas partes del África subsahariana y el sur de Asia. Los efectos primarios de la desnutrición pueden ser amplificados por efecto de enfermedades; aún enfermedades relativamente fáciles de tratar tales como la diarrea pueden llevar a la muerte.
            </p>
          </div>
          <div>
              <img src="../../../../assets/images/peso_bajo_mujer.jpg" alt="imagen de obesidad 1">
          </div>
      </div>
  
      <div>
          <h1 class="text__diet">Te damos una dieta personalizada</h1>
          
      </div>
  </section>
  
  
  
  </div>