<div class="contenedor">
  <div class="hero-container">
    <div class="hero-text--container">
      <p class="hero-title">¿Quieres mejorar tu salud?</p>
    <p class="hero-description">Creamos dietas personalizadas para ti</p>
    </div>
    
    <img class="hero-image" src="../../../../assets/images/heroImage.jpg" alt="">
    <!-- <div class="hero-image"></div> -->
    <div class="hero-text--container">
      <p class="Story">Nuestro propósito</p>
      <p class="proposito">Ayudar a las pesonas a atransformar sus vidas por medio de la alimetación</p>
    </div>
    
  </div>
</div>
