<footer class="footer">
  <div class="content contenedor">
      <ul>
          <li>
              <a href="#">Always healty</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Our Works</a>
          </li>
          <li>
              <a href="#">Clients</a>
          </li>
      </ul>

      <div>
          <h1>Social Media</h1>
          
          <img class="icon" src="https://img.icons8.com/doodle/48/000000/instagram-new.png"/>
          <img class="icon invert" src="https://img.icons8.com/carbon-copy/100/000000/facebook-new.png"/>
          <img class="icon invert" src="https://img.icons8.com/carbon-copy/100/000000/twitter.png"/>
      </div>

  </div>
</footer>