<div class="contenedor">
  <div class="servicios-container">
    <div class="servicio">
      <img src="../../../../assets/images/edit.svg" alt="">
      <p class="title">Diseño de dietas</p>
      <p class="description">Te damos una dieta personalizada dependiendo tus necesidades</p>
    </div>
    <div class="servicio">
      <img src="../../../../assets/images/dieta.svg" alt="">
      <p class="title">Control de peso</p>
      <p class="description">Te ayudamos a conocer tu Indice de Masa coorporal</p>
    </div>
    <div class="servicio">
      <img src="../../../../assets/images/plato.svg" alt="">
      <p class="title">¿Qué puedes comer?</p>
      <p class="description">Te proporcionamos que puedes comer para cumplir tu meta </p>
    </div>
  </div>
</div>
