<div class="servicios-container">
  <div class="servicio">
    <span class="servicios-logo"></span>
    <p class="title">Diseño de dietas</p>
    <p class="description">Te damos una dieta personalizada dependiendo tus necesidades</p>
  </div>
  <div class="servicio">
    <p class="title">Diseño de dietas</p>
    <p class="description">Te damos una dieta personalizada dependiendo tus necesidades</p>
  </div>
  <div class="servicio">
    <p class="title">Diseño de dietas</p>
    <p class="description">Te damos una dieta personalizada dependiendo tus necesidades</p>
  </div>
</div>