<div class="contenedor">
    <section>
        <h1 class="second-title">Deberias tomar en cuenta lo siguiente</h1>
        <div class="container-img">
            <div class="container-1">
                <img src="./../../../../assets/images/bill-oxford-aIlAhLdwk2g-unsplash.jpg" alt="imagen de nutricion 1">
                <p class="text">Cuida tu salud</p>
                <h2>Busca Dientas Hechas para ti</h2>
            </div>
            <div class="container-2">
                <img src="./../../../../assets/images/louis-hansel-ZFKARB5DJvs-unsplash.jpg" alt="imagen de nutricion 2">
                <p class="text">Tu salud es lo más importante</p>
                <h2>Dientas hechas a la medida</h2>
            </div>
            <div class="container-3">
                <img src="./../../../../assets/images/k15-photos-lgyFO6a9JTM-unsplash.jpg" alt="imagen de nutricion 3">
                <p class="text">Piensa en tu salud</p>
                <h2>Baja o sube de peso</h2>
            </div>
            <div class="container-4">
                <img src="./../../../../assets/images/tom-brunberg-D4ZtZX1UeAI-unsplash.jpg " alt="imagen de nutricion 4">
                <p class="text">La salud es lo mas importante!</p>
                <h2>Atiende tu salud</h2>
            </div>
        </div>
      </section>

</div>
